* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

.node {
  font-size: 18px;
  font-weight: 300;
  font-family: "Roboto Condensed"; }
  .node .info {
    cursor: text; }
    .node .info .details {
      *zoom: 1;
      max-width: 940px;
      margin-left: auto;
      margin-right: auto; }
      .node .info .details:before, .node .info .details:after {
        content: " ";
        display: table; }
      .node .info .details:after {
        clear: both; }
    .node .info.focus, .node .info.focus:hover {
      background-color: #eeeeee; }
    .node .info:hover {
      background-color: #f4f4f4; }
  .node label {
    cursor: pointer;
    margin-right: 10px; }
    .node label input[type="checkbox"] {
      display: none; }
      .node label input[type="checkbox"] i {
        color: gray; }
      .node label input[type="checkbox"] + .checkbox {
        display: inline-block;
        background-color: white;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1); }
        .node label input[type="checkbox"] + .checkbox .tick {
          height: 12px;
          width: 12px;
          margin: 2px;
          border-radius: 50%;
          background-color: transparent; }
          .node label input[type="checkbox"] + .checkbox .tick:hover {
            background-color: rgba(0, 0, 0, 0.1); }
      .node label input[type="checkbox"]:checked + .checkbox .tick {
        background-color: #333333; }
        .node label input[type="checkbox"]:checked + .checkbox .tick:hover {
          background-color: black; }
  .node input[type="text"] {
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 18px;
    font-weight: 300;
    font-family: "Roboto Condensed"; }
