@import bourbon/bourbon
@import neat/neat

$font: "Roboto Condensed"

body
  margin: 0

.node
  // padding-left: 20px
  // position: relative
  // width: 100%
  font-size: 18px
  font-weight: 300
  font-family: $font
  .info
    // padding-left: 20px
    // +outer-container
    cursor: text
    .details
      +outer-container
    &.focus, &.focus:hover
      background-color: #eee
    &:hover
      background-color: #f4f4f4
  .children
    // padding-left: 20px
  input
    border: 0
    outline: 0
    background-color: transparent
    font-size: 18px
    font-weight: 300
    font-family: $font
    // position: absolute
    // left: 0
    // right: 0
    // &:focus
      // background-color: #eee